<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
    <div class="well no-padding">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "smart-form client-form"}) do |f| %>

        <header>Log in</header>

        <% if notice%>
          <p class="alert alert-info"><%= notice %></p>
        <% elsif alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <fieldset>
          <section>
            <label class="label"><%= f.label :email %></label>
            <label class="input"><%= f.email_field :email, autofocus: true %></label>
          </section>
          <section>
            <label class="label"><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %></label>
            <label class="input"><%= f.password_field :password, autocomplete: "off" %></label>
          </section>
          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>
        </fieldset>

        <footer>
          <div><%= f.submit "Log in", class: "btn btn-primary" %></div>
        </footer>
      <% end %>
    </div>

    <%= link_to "Sign up", new_user_path %><br />
    <%= link_to "Forgot Password", new_user_password_path %><br />

  </div>
</div>
