<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">

    <div class="well no-padding">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "smart-form client-form"}) do |f| %>

        <header>Log in</header>

        <% if notice%>
          <p class="alert alert-info"><%= notice %></p>
        <% elsif alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <fieldset>
          <%= link_to "", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-google" %>
          <p class="split">or</p>
          <section>
            <label class="label"><%= f.label :email %></label>
            <label class="input"><%= f.email_field :email, autofocus: true %></label>
          </section>
          <section>
            <label class="label"><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %></label>
            <label class="input"><%= f.password_field :password, autocomplete: "off" %></label>
          </section>

        <%= link_to "Forgot Password", new_user_password_path %>
        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="jarviswidget">
      <header role="heading">
        <h2>Don't have an account?</h2>
      </header>
      <div class="content">
        <div class="widget-body">
          <%= link_to "Join Organization", new_user_path, class: "btn btn-info" %> |
          <%= link_to "Create Organization", new_organization_path, class: "btn btn-success" %><br />
        </div>
      </div>
    </div>

  </div>
</div>
