<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> <span>My Dashboard</span></h1>
	</div>
</div>

<% if notice%>
  <p class="alert alert-info"><%= notice %></p>
<% elsif alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<section id="widget-grid" class="">

	<div class="row">

			<div class="col-lg-6">

				<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>Announcements</h2>

					</header>

          <div class="content">
						<div class="widget-body no-padding">

							<table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
								<thead>
									<tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Body</th>
                    <th data-hide="phone,tablet">Actions</th>
									</tr>
								</thead>
								<tbody>
                  <% @announcements.each do |announcement| %>
                    <tr>
                      <td><%= announcement.created_at.strftime("%m/%d/%Y")%></td>
                      <td><%= announcement.title %></td>
                      <td><%= truncate(announcement.plaintext_body, length: 25)%></td>
                      <td>
                        <%= link_to "View", announcement_path(announcement), :class => "btn btn-info" %>
                      </td>
                    </tr>
                  <% end %>
								</tbody>
							</table>

						</div>
						<!-- end widget content -->

					</div>
					<!-- end widget div -->

				</div>
				<!-- end widget -->

			</div>
		<article class="col-lg-6">

			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-colorbutton="false">

				<header>
					<span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
					<h2> My Events </h2>
					<div class="widget-toolbar">
						<!-- add: non-hidden - to disable auto hide -->
						<div class="btn-group">
							<button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
								Showing <i class="fa fa-caret-down"></i>
							</button>
							<ul class="dropdown-menu js-status-update pull-right">
								<li>
									<a href="javascript:void(0);" id="mt">Month</a>
								</li>
								<li>
									<a href="javascript:void(0);" id="ag">Agenda</a>
								</li>
								<li>
									<a href="javascript:void(0);" id="td">Today</a>
								</li>
							</ul>
						</div>
					</div>
				</header>

				<div>
					<div class="widget-body no-padding">
						<div class="widget-body-toolbar">
              <div id="calendar">
                <iframe src="https://www.google.com/calendar/embed?src=noland.smith%40gtbeta.org&ctz=America/New_York" style="border: 0" width="100%" height="600px" frameborder="0" scrolling="no"></iframe>
              </div>

            </div>
          </div>

				</div>
			</div>

		</article>
		</div>

</section>
