<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
    <div class="well no-padding">

      <%= form_for(@user, url: "/users/#{@user.id}", action: :put, html: {class: "smart-form client-form"}) do |f| %>
        <header>Edit User</header>
        <% if alert %>
          <div class="alert alert-danger">
            <%= alert %>
          </div>
        <% elsif notice %>
          <div class="alert alert-success">
            <%= notice %>
          </div>
        <% elsif !@user.errors.blank? %>
          <div class="alert alert-danger">
            <% @user.errors.full_messages.each do |error| %>
              <%= error %>
            <% end %>
          </div>
        <% end %>

        <fieldset>

          <section>
            <label class="label"><%= f.label :first_name %></label>
            <label class="input"><%= f.text_field :first_name, autofocus: true %></label>
          </section>

          <section>
            <label class="label"><%= f.label :last_name %></label>
            <label class="input"><%= f.text_field :last_name %></label>
          </section>

          <section>
            <label class="label"><%= f.label :phone_number %></label>
            <label class="input"><%= f.telephone_field :phone_number %></label>
          </section>

          <section>
            <label class="label"><%= f.label :email %></label>
            <label class="input"><%= f.email_field :email %></label>
          </section>

          <section>
            <label class="label"><%= f.label :password %> <i>(leave blank if you don't want to change)</i></label>
            <label class="input"><%= f.password_field :password, autocomplete: "off" %></label>
          </section>

          <section>
            <label class="label"><%= f.label :password_confirmation %></label>
            <label class="input"><%= f.password_field :password_confirmation, autocomplete: "off" %></label>
          </section>

          <% if current_user.is_admin? %>
            <section>
            <div class="checkbox">
              <label>
                <%= f.check_box :is_admin, checked: @user.is_admin? %>
                Is admin?
              </label>
            </div>
            </section>
          <% end %>

        </fieldset>

        <footer>
          <div><%= f.submit "Update", class: "btn btn-primary" %></div>
        </footer>
      <% end %>

    </div>
  </div>
</div>
